<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Chopad Game</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <style>
      th:not(:last-child), td:not(:last-child)
        { border-right: 1px solid #000; }
      table:{
        table-layout: auto;
      }
   </style>
</head>

<body class="container">


    <div class="row">
      <h1>Chopad Game</h1>
      <p>Welcome to templating using EJS</p>
    </div>

    <div class="row">

      <table class="centered">
          <tbody>
            <tr> <!-- top row -->
              <td></td>
              <td></td>
              <td></td>
              <td>Player 1</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr><!-- row 2 -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr> <!-- row 3 -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr><!-- row 4 -->
              <td>Player 2</td>
              <td></td>
              <td></td>
              <td>Goal</td>
              <td></td>
              <td></td>
              <td>Player 4</td>
            </tr>
            <tr><!-- row 5 -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr><!-- row 6 -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr><!-- row 7 -->
              <td></td>
              <td></td>
              <td></td>
              <td>Player 3</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
      </table>


    </div>



</body>

</html>
